{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% if title %}
		<title>ToolBox - {{ title }}</title>
		{% else %}
			<title>ToolBox</title>
		{% endif %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{% static 'src/styles.css' %}" rel="stylesheet">
	</head>
	<body class='bg-toolbox-green h-screen flex justify-center align-center'>
		<div class='bg-gray-100 p-10 w-full my-auto max-w-4xl text-center rounded-lg'>
			<h3 class='text-2xl font-bold'>Welcome Back!</h3>
			<p class='mb-20 mt-4 text-lg'>Manage Your Business with Ease</p>
			<input class='block p-4 my-4 w-96 rounded-lg mx-auto' type="text" placeholder='Email'>
			<input class='block p-4 my-4 w-96 rounded-lg mx-auto' type="text" placeholder='Password'>
			<button class='bg-black text-white font-bold p-4 mb-20 mt-2 w-96 rounded-full hover:bg-gray-700'>Open TotalBox</button>
			<p>Don’t have an account? <a class='text-toolbox-green' href="">Sign Up Here</a></p>
		</div>
	</body>
</html>
